
/*title {
  font-family: 'Droid Sans', sans-serif;
  color: #00000B;

  font-size: 36px;
  line-height: 1;
}

h1 {
  font-family: 'Droid Sans', sans-serif;
  color: #00000B
  font-size: 32px;
  line-height: 1;
}

h2 {
  font-family: 'Droid Sans', sans-serif;
  color: #00000B;
  font-size: 24px;
  line-height: 1;
}

h3 {
  font-family: 'PT Sans', sans-serif;
  color: #00000B;
  font-size: 18px;
  line-height: 1;
}

h4 {
  font-family: 'PT Sans', sans-serif;
  color: #00000B;

  font-size: 18px;
  line-height: 1;
}

h5 {
  font-family: 'PT Sans', sans-serif;
  color: #00000B;
  font-size: 16px;
  line-height: 1;
}

p {
  font-family: 'Droid Sans', sans-serif;
  color: #00000B;
  font-size: 12px;
  line-height: 1;
}*/
/*----TempCSS---*/
nav {
    display: inline-block;
}


/*-------------- Home updated ----------------*/
.banner {
     color: black;
     height: 80px;
     background-color: #6A8EAE;
     padding: 5px;
}

#intro {
    font-size: 36px;
    color: black;
    text-align: center;
}

.main_nav {
    font-size: 25px;
    background-image: url("../images/web_images/tomatoes.png");
    margin: auto;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.donorLogin {
     background-color: #9BD1E5;
     opacity: 0.8;
     height: 150px;
     width: 250px;
     border-radius: 15px;
     padding: 10px 8px;
     text-align: center;
     font-size: 20px;
     margin-left: auto;
     margin-right: auto;
     display: inline-block;
     position: relative;
     left: 30%;
}

.charityLogin {
     background-color: #157145;
     opacity: 0.8;
     height: 150px;
     width: 250px;
     border-radius: 15px;
     padding: 10px 8px;
     text-align: center;
     font-size: 20px;
    margin-left: auto;
    margin-right: auto;
     display: inline-block;
     position: relative;
     left: 30%;
}

.featured {
    text-align: center;
    background-color: #57A773;
    height: 150px;
    padding-top: 2px;
}

.blue {
  background-color: #6A8EAE;
}
.profile {
  float: right;
  display: inline;
}
.avatar {
  height: 50px;
  width: 50px;
}

/*-------------- New Account ----------------*/
.banner2 {
     color: black;
     height: 80px;
     background-color: #6A8EAE;
     padding: 5px;
}

/*#intro {
    font-size: 36px;
    color: black;
    text-align: center;
}

.main_nav {
    font-size: 25px;
    background-image: url("../images/web_images/tomatoes.png");
    margin: auto;
    height: 350px;
    background-size: cover;
    background-position: center;
}
*/
/*.donorLogin {
     background-color: #9BD1E5;
     opacity: 0.8;
     height: 150px;
     width: 250px;
     border-radius: 15px;
     padding: 10px 8px;
     text-align: center;
     font-size: 20px;
     margin-left: auto;
     margin-right: auto;
     display: inline-block;
     position: relative;
     left: 30%;
}

.charityLogin {
     background-color: #157145;
     opacity: 0.8;
     height: 150px;
     width: 250px;
     border-radius: 15px;
     padding: 10px 8px;
     text-align: center;
     font-size: 20px;
    margin-left: auto;
    margin-right: auto;
     display: inline-block;
     position: relative;
     left: 30%;
}

.featured {
    text-align: center;
    background-color: #57A773;
    height: 150px;
    padding-top: 2px;
}
*/


/*-------------- Login ----------------*/

/*.login {
  text-align: center;
}

#email {
  font-size: 36px;
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
}

#password {
  font-size: 36px;
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
}

#login {
  font-size: 39px;
  padding: 8px 65px;
  border-radius: 15px;
  margin: 5px;
  background-color: #6A8EAE;
}

#sign_up {
  font-size: 36px;
  padding: 8px 50px;
  border-radius: 15px;
  margin: 5px;
  background-color: #57A773;
}

.container {
  background-color: #57A773;
  border-radius: 25px;
  text-align: center;
  height: 900px;
  opacity: .7;
  padding: 25px;
}

.capitalfoodbank {
  background-color: #6A8EAE;
  font-size: 36px;
  border-radius: 10px;
  height: 275px;
  margin: auto;
}*/





/*-------------- Donor Creation ----------------*/





/*-------------- New Charity ----------------*/





/*-------------- Donor Homepage ----------------*/





/*-------------- Charity Home Logged In ----------------*/
